<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>SIP accounts</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>menu_account_1</string>
			<key>File</key>
			<string>Account</string>
			<key>Title</key>
			<string>Account 1</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>menu_account_2</string>
			<key>File</key>
			<string>Account</string>
			<key>Title</key>
			<string>Account 2</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>menu_account_3</string>
			<key>File</key>
			<string>Account</string>
			<key>Title</key>
			<string>Account 3</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>menu_account_4</string>
			<key>File</key>
			<string>Account</string>
			<key>Title</key>
			<string>Account 4</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>menu_account_5</string>
			<key>File</key>
			<string>Account</string>
			<key>Title</key>
			<string>Account 5</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>assistant_button</string>
			<key>Title</key>
			<string>Run assistant</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable video</string>
			<key>Key</key>
			<string>enable_video_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
